<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
  <div class="content">
    <div class="container-fluid">
      <div class="bg-blue-500 text-white p-4 rounded">
        <h1 class="text-2xl font-bold">Hello, Tailwind CSS!</h1>
        <p class="mt-2">This is a test of Tailwind CSS integration.</p>
        <p class="test-class"> test</p>
      </div>
    </div>
  </div>
</main>
<router-outlet />


