<!--HAMBURGER MENU-->
<button
  data-drawer-target="default-sidebar"
  data-drawer-toggle="default-sidebar"
  aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-purple-400 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<!--SIDEBAR MENU-->
<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidenav"
>
  <div
    class="overflow-y-auto py-5 px-3 h-full bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700"
  >
    <!--LOGO-->
    <img
      src="../../assets/img/horizontal-logo.png"
      alt="GladioForce Logo"
      class="w-41"
    />

    <ul class="space-y-2 mt-5">
      <app-link linkName="Home" link="/home" icon="home"></app-link>

      <li>        
        <app-dropdown-button name="Beheer" dropdownreference="dropdown-pages" icon="file-text"></app-dropdown-button>

        <ul id="dropdown-pages" class="hidden space-y-2">
          <app-link linkName="Vuilbakken" link="/containers"></app-link>
          <app-link linkName="T-Shirts" link="/t-shirts"></app-link>
          <app-link linkName="Kernleden" link="/core-members"></app-link>
        </ul>
      </li>

      <li>
        <app-dropdown-button name="Vrijwilligers" dropdownreference="dropdown-clubs" icon="file-text"></app-dropdown-button>

        <ul id="dropdown-clubs" class="hidden space-y-2">
          <app-link linkName="Verenigingen" link="/clubs"></app-link>
          <app-link linkName="Taken" link="/tasks"></app-link>
          <app-link linkName="Planning" link="/planning"></app-link>
        </ul>
      </li>

      <app-link linkName="Export" link="/export" icon="download"></app-link>
    </ul>

    <ul
      class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700"
    >
      <!-- <li>
        <app-dropdown-button name="Authenticatie" dropdownreference="dropdown-authentication" icon="lock"></app-dropdown-button>

        <ul id="dropdown-authentication" class="hidden space-y-2">
          <app-link linkName="Log in" link="/auth"></app-link>
          <app-link linkName="Log out" link="/auth"></app-link>
          <app-link linkName="Paswoord vergeten" link="/auth"></app-link>
        </ul>
      </li> -->
      <app-link linkName="Authenticatie" link="/auth" icon="lock"></app-link>
      <app-link linkName="Docs" link="http://localhost:8000/api/docs" icon="clipboard"></app-link>
      <app-link linkName="Help" link="/help" icon="help-circle"></app-link>

    </ul>
  </div>

  <!--SIDEBAR FOOTER-->
  <div
    class="hidden absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full lg:flex bg-white dark:bg-gray-800 z-20 border-r border-gray-200 dark:border-gray-700"
  >
    <app-icon-button linkName="" link="#"  icon="sliders"></app-icon-button>
    <app-icon-button linkName="Settings page" link="/settings" icon="settings"></app-icon-button>
  </div>
</aside>
